.tn-calendar-pair-button-wrapper{
    @extend .relative;
    @extend .inline-block;

    .button-list{
        @extend .flex-column;
        @extend .white-space-nowrap;
        @extend .absolute;
        @extend .top-0;
        @extend .left-0;
        @extend .text-white;
        @extend .border-round;
        @extend .text-center;
        @extend .hidden;
        @extend .shadow-3;
        background: var(--primary-color);
        z-index: 1000;
    }

    .p-button {
        @extend .border-noround;
        border: 0;

        &:last-child {
            @extend .border-round-bottom;
        }
        &:first-child {
            @extend .border-round-top;
        }
    }
    
    &:hover {
        .button-list{
            @extend .flex;
            @extend .fadein;
            @extend .animation-fill-forwards;
        }
    }
}